extends layout.jade

block vars
    - controller = "LodgingController"

mixin stars(n, outOf)
    - for (var x = 0; x < n; x++)
        .glyphicon.glyphicon-star
    - for (var x = 0; x < outOf - n; x++)
        .glyphicon.glyphicon-star-empty

block content
    .container
        .lodging
            h2 #{lodging.name}
            .text-info #{address.city}
            .text-info Myyjä: #{owner.name}
            .lodging-image.col-md-8
            .col-md-4
                .panel.panel-default
                    .panel-body
                        div
                            a.btn.btn-primary.btn-lg(href="/lodgings/#{lodging.id}/reservations/user/new") Siirry varaamaan
                        b #{lodging.price_per_night} / yö
                        p.text-muted sis. alv n + 1 %
            .lodging-description.col-md-8
                p= lodging.description
            .col-md-4
            .lodging-amenities.col-md-8
                ul.list-unstyled
                    li
                        .glyphicon.glyphicon-console
                        span Lähellä terminaalia
                    li
                        .glyphicon.glyphicon-btc
                        span Maksettavissa Bitcoinilla
                    li
                        span Tiskikone
            .lodging-reviews.col-md-8
                h3 Arvostelut
                .review
                    .stars
                        +stars(4, 5)
                    span.author Tero
                    p.review-body Ihan kiva.