extends layout.jade

block vars
    - controller = "LodgingController"

mixin stars(n, outOf)
    - for (var x = 0; x < n; x++)
        .glyphicon.glyphicon-star
    - for (var x = 0; x < outOf - n; x++)
        .glyphicon.glyphicon-star-empty

block content
    .container
        .lodging
            h2 #{lodging.name}
            .text-info #{address.city}
            .text-info Myyjä: #{owner.name}
            .lodging-image.col-md-8
            .col-md-4
                .panel.panel-default
                    .panel-body
                        .calendar
                            .calendar-title
                                a(href="").calendar-button.left.glyphicon.glyphicon-chevron-left                        
                                span Fiktiokuu 2072
                                a(href="").calendar-button.right.glyphicon.glyphicon-chevron-right
                            table
                                thead
                                    each day in ["Ma", "Ti", "Ke", "To", "Pe", "La", "Su"]
                                        td= day
                                tbody.calendar-cells
                                    - for (var x = 0; x < 31; x++)
                                        if ((x % 7) == 0)
                                            tr
                                        td= x + 1
                        div
                            p Per yö: #{lodging.price_per_night}
                            p Yhteensä: π €
            .lodging-description.col-md-8
                p= lodging.description
            .col-md-4
            .lodging-amenities.col-md-8
                ul.list-unstyled
                    li
                        .glyphicon.glyphicon-console
                        span Lähellä terminaalia
                    li
                        .glyphicon.glyphicon-btc
                        span Maksettavissa Bitcoinilla
                    li
                        span Tiskikone
            .lodging-reviews.col-md-8
                h3 Arvostelut
                .review
                    .stars
                        +stars(4, 5)
                    span.author Tero
                    p.review-body Ihan kiva.