extends layout.jade

block vars
    - controller = "LodgingController"

mixin stars(n, outOf)
    - for (var x = 0; x < n; x++)
        .glyphicon.glyphicon-star
    - for (var x = 0; x < outOf - n; x++)
        .glyphicon.glyphicon-star-empty

block content
    .container
        - var isOwner = user && user.id === lodging.seller.user_id
        .lodging
            h2 #{lodging.name}
            .text-info #{lodging.address.city}
            .text-info Myyjä: #{lodging.seller.company_name}
            .lodging-image.col-md-8
            .col-md-4
                .panel.panel-default
                    .panel-body
                        p.lodging-price {{#{lodging.price_per_night} | currency}} / yö
                        div
                            if !user
                                .button-container
                                    button.btn.btn-primary.btn-lg.reserve-button(disabled href="#") Siirry varaamaan
                                p
                                    a.text-info(href="/login") Kirjaudu 
                                    | tai 
                                    a.text-info(href="/register") rekisteröidy 
                                    | varataksesi kohteita.
                            else if isOwner
                                .button-container: a.btn.btn-primary.btn-lg(href="/lodgings/#{lodging.id}/reservations/external/new") Ilmoita varaus
                            else
                                .button-container: a.btn.btn-primary.btn-lg(href="/lodgings/#{lodging.id}/reservations/user/new") Siirry varaamaan
                if isOwner
                    .panel.panel-default
                        .panel-heading Hallitse
                        .panel-body: .row
                            .col-md-12
                                a.btn.btn-default(href="/lodgings/#{lodging.id}/reservations") Selaa varauksia
            .lodging-description.col-md-8
                p= lodging.description
            .col-md-4
            .lodging-amenities.col-md-8
                h3 Varustelu
                if !lodging.amenities || lodging.amenities.length == 0
                    .text-muted Ei ilmoitettu
                else
                    ul.list-unstyled
                        for amenity in lodging.amenities
                            li
                                if amenity.icon
                                    .glyphicon(class=amenity.icon)
                                else
                                    .glyphicon.glyphicon-ok
                                span= amenity.name
                                
            .lodging-reviews.col-md-8
                h3 Arvostelut
                .review
                    .stars
                        +stars(4, 5)
                    span.author Tero
                    p.review-body Ihan kiva.