extends layout.jade

block vars
    - controller = "LodgingController"

mixin stars(n, outOf)
    - for (var x = 0; x < n; x++)
        .glyphicon.glyphicon-star
    - for (var x = 0; x < outOf - n; x++)
        .glyphicon.glyphicon-star-empty

block content
    .container
        .lodging
            h2 #{lodging.name}
            .text-info #{address.city}
            .text-info Myyjä: #{owner.name}
            .lodging-image.col-md-8
            .col-md-4
                .panel.panel-default
                    .panel-body
                        h4 #{parseFloat(lodging.price_per_night)} € / yö
                        p.text-muted sis. alv n + 1 %
                        div
                            a.btn.btn-primary.btn-lg(href="/lodgings/#{lodging.id}/reservations/user/new") Siirry varaamaan
            .lodging-description.col-md-8
                p= lodging.description
            .col-md-4
            .lodging-amenities.col-md-8
                h3 Varustelu
                if !amenities || amenities.length == 0
                    .text-muted Ei ilmoitettu
                else
                    ul.list-unstyled
                        for amenity in amenities
                            li
                                if amenity.icon
                                    .glyphicon(class=amenity.icon)
                                else
                                    .glyphicon.glyphicon-ok
                                span= amenity.name
                                
            .lodging-reviews.col-md-8
                h3 Arvostelut
                .review
                    .stars
                        +stars(4, 5)
                    span.author Tero
                    p.review-body Ihan kiva.