extends layout.jade

block vars
    - controller = "LodgingsController"

block content
    .container
        .lodgings
                each lodging in lodgings
                    .lodging.row
                        a(href="/lodgings/#{lodging.id}").lodging-image.col-md-3                    
                        .lodging-content.col-md-7
                            a(href="/lodgings/#{lodging.id}").lodging-title #{lodging.name}
                            p.lodging-address #{lodging.city} | #{lodging.owner}
                            p= lodging.description
                        .lodging-pricing.col-md-2
                            p.lodging-price #{lodging.price_per_night} / yö