
extends layout.jade

include mixins/large_calendar

block vars
    - controller = "NewUserReservationController"

block content
    div(ng-init="setLodgingId(#{lodging.id})")
    div(ng-init="lodging.price_per_night = #{lodging.price_per_night}")
    .container.margin-top-default
        form
            h2 Uusi varaus
            p #{lodging.name}
            .row
                .col-sm-3: .form-group
                    label Alkaen
                    input.form-control(type="text" ng-model="reservation.during.lower" ng-disabled="controls.datePickers.areDisabled" bs-datepicker data-min-date="today" data-max-date="reservation.during.upper" data-disabled-dates="bounds.starts")
                .col-sm-3: .form-group
                    label Päättyy
                    input.form-control(type="text" ng-model="reservation.during.upper" ng-disabled="controls.datePickers.areDisabled" bs-datepicker data-min-date="{{reservation.during.lower}}" data-disabled-dates="bounds.ends")
            .row
                .col-sm-8: p Varaus alkaa klo #{lodging.reservation_start} ja päättyy klo #{lodging.reservation_end}.
            .row
                .col-sm-5
                    div(ng-show="getPrice()")
                        p {{getNights()}} yötä * {{lodging.price_per_night | currency}}
                        span Yhteensä 
                        b {{getPrice() | currency}}
            .row: .col-sm-5
                button.btn.btn-primary(ng-click="onSend()") Varaa ja maksa
