extends layout.jade

block vars
    - controller = "ReservationController"

block content
    .container.margin-top-default
        if alert == "successful_payment"
            .alert.alert-success(role="alert")
                .glyphicon.glyphicon-ok
                strong Maksu suoritettiin onnistuneesti.
        h1 Varaus

        .row
            .col-md-6: .well
                dl
                    dt Tila
                    dd
                        if userReservation.is_paid
                            strong.text-success Maksettu (#{moment(userReservation.paid).format("DD.MM.YYYY HH:mm")})
                        else
                            strong.text-warning Ei maksettu
                    dt Tunnus
                    dd #{reservation.id}
                    dt Kohde
                    dd: a(href="/lodgings/#{lodging.id}") #{lodging.name} (#{lodging.id})
                    dt Kirjattu
                    dd #{moment(reservation.created).format("DD.MM.YYYY HH:mm")}
                    dt Varattu välille
                    dd #{moment(reservation.during.lower).format("DD.MM.YYYY HH:mm")} - #{moment(reservation.during.upper).format("DD.MM.YYYY HH:mm")}
                    dt Hinta
                    dd #{parseFloat(userReservation.price)} €