
mixin address-input(model, form, disable, required)
    .row: .col-sm-3: .form-group
        label Lähiosoite
        input.form-control(type="text" name="street1" ng-required="#{required}" ng-model="#{model}.street1" ng-disabled="#{disable} || false" placeholder="Kadun nimi 100")
        p(ng-if="#{form}.street1.$touched && #{form}.street1.$error.required") Kadun nimi vaaditaan.
    .row: .col-sm-3: .form-group
        input.form-control(type="text" name="street2" ng-model="#{model}.street2" ng-disabled="#{disable} || false")
    .row
        .col-sm-2: .form-group
            label Postinumero
            input.form-control(type="text" name="postalCode" ng-required="#{required}" ng-disabled="#{disable} || false" ng-model="#{model}.postal_code")
        .col-sm-3: .form-group
            label Postitoimipaikka
            input.form-control(type="text" name="city" ng-required="#{required}" ng-disabled="#{disable} || false" ng-model="#{model}.city")
    .row: .col-sm-5
            p(ng-if="#{form}.postalCode.$touched && #{form}.postalCode.$error.required") Postinumero vaaditaan.
            p(ng-if="#{form}.city.$touched && #{form}.city.$error.required") Postitoimipaikka vaaditaan.